<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    
    <!--Configure dispatcher servlet-->
    <servlet>
        <servlet-name>spring</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        
    </servlet>
    
    <servlet-mapping>
        <servlet-name>spring</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
     
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
